scope: postgres
name: {{ inventory_hostname }}

restapi:
    listen: {{ private_ip }}:8008
    connect_address: {{ private_ip }}:8008

etcd3:
    hosts:
{% for host in groups[database] | sort %}
        - {{ hostvars[host].private_ip }}:2379
{% endfor %}
    protocol: https // TODO: COMPLETE HTTPS CONFIG

bootstrap:
    dcs:
        ttl: 30
        loop_wait: 10
        retry_timeout: 10
        maximum_lag_on_failover: 1048576

        postgresql:
            use_pg_rewind: true
            use_slots: true
            parameters:
                wal_level: replica

    init_db:
        - encoding: UTF8
        - data-checksums

    pg_hba:
        111


postgresql:
    listen: {{ private_ip }}:5432
    connect_address: {{ private_ip }}:5432
    data_dir: 
